:root {
  --white: #F6F4E7;
  --black: #1B4571;
  --blue: #2547FE;
  --yellow: #FFE301;
  --orange: #FF9807;
  --sky: #56DCE7;

  --text: "Sans-serif", sans-serif;
  --title: 'CoFo Peshka', sans-serif;

  --text-size: 18px;
  --title-size: 26px;
  --text-lh: 121.4%;
}
